<html>
<head>
<link rel='stylesheet' href='/stylesheets/gited.css' />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/gited.js"></script>
<title>gited</title>
</head>
<body>
<div id="screen"></div>
</body>
</html>
