<html>
<head>
<link rel='stylesheet' href='/stylesheets/gited.css' />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/gited.js"></script>
<title>gited</title>
</head>
<body>
<form action="/login/github" method="post">
  <input type="submit" id="login-button" value="LOGIN"/>
</form>
<div id="repositories">
  <ul>
  </ul>
</div>
<div id="screen"></div>
</body>
</html>
