/* line 1, gited.scss */
body {
  overflow: hidden;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 8, gited.scss */
#user-info #user-type {
  font-size: 14px;
}
/* line 11, gited.scss */
#user-info #user-name {
  font-size: 16px;
}

/* line 17, gited.scss */
#repositories a {
  color: #FFFFFF;
}

/* line 22, gited.scss */
#screen {
  height: 100%;
  position: relative;
}
/* line 25, gited.scss */
#screen .commit {
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
}
