/* line 1, gited.scss */
body {
  overflow: hidden;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 7, gited.scss */
#player {
  float: right;
}

/* line 12, gited.scss */
#user-info #user-type {
  font-size: 14px;
}
/* line 15, gited.scss */
#user-info #user-name {
  font-size: 16px;
}

/* line 21, gited.scss */
#repositories a {
  color: #FFFFFF;
}

/* line 26, gited.scss */
#screen {
  height: 100%;
  position: relative;
}
/* line 29, gited.scss */
#screen .commit {
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
}
