@mixin border-radius($settings...) {
  -webkit-border-radius: $settings;
  -moz-border-radius: $settings;
  border-radius: $settings;
}

body {
  margin: 0;
  background: #fff;
  color: #333;
  transition: background-color 1.5s;

  &.dark {
    overflow: hidden;
    background-color: #000;
  }
}

#social-container {
  overflow: hidden;

  .social-button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: solid 3px #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 26px;
    color: #fff;
  }
}

#player {
  position: fixed;
  top: 0;
  right: 0;
}

#description {
  padding: 220px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/img/hero001.jpg');
  background-size: cover;
  background-position: left 50% top 35%;
  text-align: center;
  color: #fff;

  #main-title {
    margin: 10px 0;
    font-size: 70px;
    font-weight: bold;
  }

  #catch-copy {
    font-size: 25px;
    margin-bottom: 30px;
  }

  #guide {
    font-size: 16px;
  }
}

#user-info {
  #user-type {
    font-size: 14px;
  }

  #user-name {
    font-size: 16px;
  }
}

#screen {
  height: 100%;
  width: 100%;
  position: relative;

  .commit {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
}

#stop-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px 15px;
  border: 2px solid #fff;

  @include border-radius(5px);

  text-align: right;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  &.inactive {
    display: none;
  }
}

#repositories {
  padding: 30px 0;
  background: rgba(0, 0, 40, 0.03);

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    font-size: 24px;
    text-align: center;
    color: #585858;

    &::after {
      content: '';
      display: block;
      width: 80px;
      margin: 25px auto;
      border-top: solid 3px #585858;
    }
  }
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  .repo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    height: 140px;
    margin: 15px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    transition: box-shadow 0.2s ease;

    .name {
      color: #333;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      font-family: Helvetica, Arial, freesans, sans-serif;
    }

    .description {
      margin: 8px 0;
      color: #757575;
      font-size: 14px;
    }

    .contributors {
      margin-top: auto;

      .avater {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    &:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;

      .name {
        text-decoration: underline;
      }
    }
  }
}
