@mixin border-radius($settings...) {
  -webkit-border-radius: $settings;
  -moz-border-radius: $settings;
  border-radius: $settings;
}

body {
  background-color: #fff;
  color: #333;
  transition: background-color 1.5s;

  &.dark {
    overflow: hidden;
    background-color: #000;
  }
}

#social-button-container {
  overflow: hidden;

  div {
    float: left;
  }
}

#player {
  position: fixed;
  top: 0;
  right: 0;
}

#description {
  text-align: center;

  #main-title {
    margin: 10px 0;
    font-size: 70px;
  }

  #catch-copy {
    font-size: 25px;
    margin-bottom: 30px;
  }

  #guide {
    font-size: 16px;
  }
}

#user-info {
  #user-type {
    font-size: 14px;
  }

  #user-name {
    font-size: 16px;
  }
}

#screen {
  height: 100%;
  width: 100%;
  position: relative;

  .commit {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
}

#stop-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px 15px;
  border: 2px solid #fff;

  @include border-radius(5px);

  text-align: right;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  &.inactive {
    display: none;
  }
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  .repo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    height: 140px;
    margin: 10px;
    padding: 15px;
    background: #fff;
    transition: box-shadow 0.15s;

    .name {
      color: #333;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      font-family: Helvetica, Arial, freesans, sans-serif;
    }

    .description {
      margin: 8px 0;
      color: #757575;
      font-size: 14px;
    }

    .contributors {
      margin-top: auto;

      .avater {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    &:hover {
      box-shadow: 0 0 12px 1px #c9cdd6;
      cursor: pointer;

      .name {
        text-decoration: underline;
      }
    }
  }
}
